@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
    font-family: 'Lobster Two', sans-serif;
}

#container{

    
}
.calc {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    width: 325px;
    height: 520px;
    border: 5px solid black;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 5px 10px 10px;
    background-color: #00b4db;
    transition-duration: 1ms;
    
}

.the-screens {
    border: 5px solid black;
    width: 280px;
    height: 140px;
    margin-top: 15px;
    text-align: center;
    font-size: 34px;
    word-wrap: break-word;
    background-color: ivory;

}

.cool-screen {
    height: 30px;
    font-size: 20px;
    word-wrap: break-word;
    padding-bottom: 12px;
    background-color: ivory;
    text-align: left; 
}




.screen {
    height: 92px;
    font-size: 34px;
    word-wrap: break-word;
    background-color: ivory;
    text-align: end;
}



.buttons {
    display: grid;
    grid-template-columns: repeat(3,auto,auto);
    grid-template-rows: repeat(3,auto, auto);
    justify-items: center;
    align-content: space-around;
    border: 4px solid black;
    height: 280px;
    width: 200px;  
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    border-radius: 10px;


   
    
}

.btn {
    border: 1px solid black;
    height: 50px;
    width: 50px; 
    background-color: ivory;
    box-shadow: black 4px 4px 10px;
    border-radius: 10px;
    
}

.btn:hover, .swagbar:hover, .op-add:hover, .op-divide:hover, .op-multiply:hover, .op-subtract:hover{
    transform: scale(1.1);
}
.clear {
    grid-column: 1/4;
    width:185px
}

.equals{
    background-color: #DB2700;
}

.ops {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    border: 4px solid black;
    height: 280px;
    width: 45px; 
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 10px;
    
}

.op-subtract {
    border: 1px solid black;
    height: 50px;
    width: 38px; 
    margin-left: 2px;
    background-color: #ff795c;
    color: ivory;
    box-shadow: black 3px 3px 10px;
    border-radius: 10px;
}

.op-multiply {
    border: 1px solid black;
    height: 50px;
    width: 38px; 
    margin-left: 2px;
    background-color: #ff795c;
    color: ivory;
    box-shadow: black 3px 3px 10px;
    border-radius: 10px;
}

.op-divide {
    border: 1px solid black;
    height: 50px;
    width: 38px; 
    margin-left: 2px;
    background-color: #ff795c;
    color: ivory;
    box-shadow: black 3px 3px 10px;
    border-radius: 10px;
}

.op-add {
    border: 1px solid black;
    height: 80px;
    width: 38px; 
    margin-left: 2px;
    background-color: #ff795c;
    color: ivory;
    box-shadow: black 3px 3px 10px;
    border-radius: 10px;
    
}


.swagbar {
    border: 1px solid black;
    height: 30px;
    width: 180px; 
    margin-left: 3px;
    font-size: 20px;
    text-align: center;
    background-color: ivory;
    box-shadow: 1px 1px 10px;
    border-radius: 10px;
}
